a{
    color: #4c4;
    cursor: pointer;
    display: block;
}
a:hover{
    color: #777;
}
body,
input{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
div{
    display: inline-block;
    line-height: 2em;
}
#input{
    text-align: right;
}
#output{
    text-align: left;
}
select{
    cursor: pointer;
}
