a,
select{
    cursor: pointer;
}
body,
input{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
div{
    display: inline-block;
    line-height: 2em;
}
.input{
    text-align: right;
}
.output{
    text-align: left;
}
